spring.datasource.url=jdbc:mysql://localhost:3306/focussnip?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=true
spring.datasource.username= your username
spring.datasource.password= your password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

server.port=8080
#server.servlet.context-path=/api


#OSS
endpoint=https://oss-cn-hangzhou.aliyuncs.com
accessKeyId=LTAI4FckBwTXnPMvfPygrB5F
accessKeySecret=
bucketName=focussnip
filehost=files
prefix=https://focussnip.oss-cn-hangzhou.aliyuncs.com/

spring.servlet.multipart.max-file-size=1000MB
spring.servlet.multipart.max-request-size=1000MB

spring.mvc.pathmatch.matching-strategy=ant_path_matcher

spring.rabbitmq.host=host
spring.rabbitmq.port=port
spring.rabbitmq.username=user
spring.rabbitmq.password=pswd
spring.rabbitmq.virtual-host=/
spring.rabbitmq.publisher-confirm-type=correlated
#可以确保消息在未被队列接收时返回，通常会和mandatory属性配合一起使用
spring.rabbitmq.publisher-returns=true
#指定消息在没有被队列接收时是否强行退回还是直接丢弃
spring.rabbitmq.template.mandatory=true